<div class="container-fluid about pad-3">
  <div class="row about-cont " style="  padding-bottom: 3rem;">
    <div class="col-9 text-xs-center">
      <div class="seeMore-btn text-center btn-style">
        <div class="btn-styleLine double-line page-scroll">
          <div class="btn btn-lg btn-outline">
            <label class="about_txt">About </label>
            <span class="me_txt">Me</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-xs-end">
      <label>2+ Years Of Experience</label>
    </div>

  </div>
  <div class="row">
    <div class="col-5 pad-1d5">
      <!-- <div class="about-img-outline">

      </div> -->
      <div class="pad-2">
        <img src="../../assets/img/landing_img.jpeg" class="img " />
      </div>

    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-12">
          <h2 style="margin: unset !important;">What I Do</h2>
          <hr class="hr-line" />
          <p class="padt-2">Dedicated UI/Front - End Developer with 2+ years of experience in Single Page UI
            (User Interface) application design and development.</p>
          <p>Expertise in creating Responsive web applications using HTML/HTML5, CSS/CSS3(SASS,LESS), Bootstrap,
            JavaScript(ES5), jQuery, AngularJS and JSON,Node.js and ReactJS.</p>
        </div>
        <div class="col-12">
          <h2 style="margin: unset !important;">Education</h2>
          <hr class="hr-line" />
          <div class="padt-2">
            <span class="year-outline">2017</span><label>SKVM Matric Hr.Sec School , gummidipoondi</label>
            <p class="padt-1 padl-2">Higher Secondary</p>
            <p class="padt-1 padl-2"> In a schooling environment where freedom and extra curricular is
              considered as equal as curricular and co-curricular activities, I was able to understand life.</p>
          </div>
          <div>
            <span class="year-outline">2017 - 2020</span><label>CKNC Arts And Science College </label>
            <p class="padt-1 padl-2">Bachelor Of Computer Application - (BCA)</p>
          </div>
          <div>
            <span class="year-outline">2022- Till Now</span><label>Anna University - Distance Education</label>
            <p class="padt-1 padl-2">Master Of Computer Application - (MCA)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 style="margin: unset !important;">
        Skillls & Technologys
      </h2>
      <hr class="hr-line" style="width: 250px !important;" />
    </div>
    <div class="col-6 pad-1">
      <label>Html,Css,SASS</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 75 + '%'}">
          75%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>AngularJS ,ReactJS, Nodejs</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 80 + '%'}">
          80%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>PHP</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 50 + '%'}">
          50%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>Python</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 45 + '%'}">
          45%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">

      <label>My SQL</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 50 + '%'}">
          50%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>Mango DB</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 25 + '%'}">
          25%
        </div>
      </div>

    </div>
    

  </div>
  <div class="row">
    <div class="col-12">
      <h1 style="margin: unset !important;">Other Technologys</h1>
      <hr class="hr-line" style="width: 250px !important;"/>
    </div>

   <div class="col-6 pad-1">
    <label>AWS Cloud</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 35 + '%'}">
          35%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>Docker</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 25 + '%'}">
          25%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>Git , CI/CD , Devops</label>
      <div class="progress">
        
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 40 + '%'}">
          40%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label>Apache server</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 35 + '%'}">
          35%
        </div>
      </div>

    </div>

  </div>

</div>