<div class="container-fluid about  pad-3">

  <div class="row about-cont " style="  padding-bottom: 3rem;">
    <div class="col-9 text-xs-center">
      <label class="about_txt primary-color norm-fs-fam">About </label>
      <span class="me_txt norm-fs-fam">Me</span>
    </div>
    <div class="col-3 text-xs-end">
      <label class="mono-fs-s">2+ Years Of Experience</label>
    </div>

  </div>
  <div class="row">
    <div class="col-5 pad-1d5">
      <!-- <div class="about-img-outline">

      </div> -->
      <div class="pad-2">
        <div class="bord-linr">

        </div>
        <img src="../../assets/img/landing_img.jpeg" class="img " />
      </div>

    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-12 set-1">
          <h2 style="margin: unset !important;" class="norm-fs-fam">What I Do</h2>
          <hr class="hr-line" />
          <p class="padt-2 norm-fs-fam">Dedicated UI/Front - End Developer with 2+ years of experience in Single Page UI
            (User Interface) application design and development.</p>
          <p class="norm-fs-fam">Expertise in creating Responsive web applications using HTML/HTML5,
            CSS/CSS3(SASS,LESS), Bootstrap,
            JavaScript(ES5), jQuery, AngularJS and JSON,Node.js and ReactJS.</p>
        </div>
        <div class="col-12 set-2">
          <h2 style="margin: unset !important; " class="norm-fs-fam">Education</h2>
          <hr class="hr-line" />

          <div class="row padt-2">
            <div class="col-12" >
              <span class="line-1"></span>
            </div>
            <div class="col-3">
              <span class="year-outline norm-fs-fam">2015 - 2017</span>
            </div>
            <div class="col-9">
              <label class="norm-fs-fam time-line-label">SKVM Matric Hr.Sec School , gummidipoondi</label>
              <p class="padt-1 padl-2 norm-fs-fam">Higher Secondary</p>
            </div>
            <div class="col-12 " >
              <span class="line-2"></span>
            </div>
            <div class="col-3">
              <span class="year-outline norm-fs-fam">2017 - 2020</span>
            </div>
            <div class="col-9">
              <label class="norm-fs-fam time-line-label">CKNC Arts And Science College</label>
              <p class="padt-1 padl-2 norm-fs-fam">Bachelor Of Computer Application - (BCA)</p>
            </div>
            <!-- <div class="col-12 " >
              <span class="line-3"></span>
            </div> -->

            <div class="col-3">
              <span class="year-outline norm-fs-fam">2022 - Till Now</span>
            </div>
            <div class="col-9">
              <label class="norm-fs-fam time-line-label">Anna University - Distance Education</label>
              <p class="padt-1 padl-2 norm-fs-fam">Master Of Computer Application - (MCA)</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row set-3">
    <div class="col-12">
      <h2 style="margin: unset !important;" class="norm-fs-fam">
        Skillls & Technologys
      </h2>
      <hr class="hr-line" style="width: 250px !important;" />
    </div>
    <div class="col-6 pad-1">
      
      <label class="mono-fs-s"><i class="fab fa-html5  icon-xs mar-r-5x"></i>Html,
        <i class="fab fa-css3 icon-xs mar-r-5x"></i>Css,
        <i class="fab fa-sass  icon-xs mar-r-5x"></i>SASS</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 75 + '%'}">
          75%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fab fa-angular icon-xs mar-r-5x"></i>AngularJS ,
        <i class="fab fa-react icon-xs mar-r-5x"></i>ReactJS, 
        <i class="fab fa-node icon-xs mar-r-5x"></i>Nodejs</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 80 + '%'}">
          80%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"> <i class="fab fa-php  icon-xs mar-r-5x"></i>PHP</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 50 + '%'}">
          50%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fab fa-python   icon-xs mar-r-5x"></i>Python</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 45 + '%'}">
          45%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">

      <label class="mono-fs-s"><i class="fas fa-database icon-xs mar-r-5x"></i>My SQL</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 50 + '%'}">
          50%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fas fa-database  icon-xs mar-r-5x"></i>Mango DB</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 25 + '%'}">
          25%
        </div>
      </div>

    </div>


  </div>
  <div class="row set-4">
    <div class="col-12">
      <h1 style="margin: unset !important;" class="norm-fs-fam">Other Technologys</h1>
      <hr class="hr-line" style="width: 250px !important;" />
    </div>

    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fab fa-aws  icon-xs mar-r-5x"></i>AWS Cloud</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 35 + '%'}">
          35%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fab fa-docker icon-xs mar-r-5x"></i>Docker</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 25 + '%'}">
          25%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fab fa-git  icon-xs mar-r-5x"></i>Git , CI/CD , Devops</label>
      <div class="progress">

        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 40 + '%'}">
          40%
        </div>
      </div>

    </div>
    <div class="col-6 pad-1">
      <label class="mono-fs-s"><i class="fas fa-server icon-xs mar-r-5x"></i>Apache server</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width: 35 + '%'}">
          35%
        </div>
      </div>

    </div>

  </div>

</div>