<div class="container-fluid projects pad-3">

    <div class="row project-cont " style="padding-bottom: 3rem;">
        <div class="col-12 text-xs-center">
            <label class="about_txt primary-color norm-fs-fam">Projects </label>
        </div>
        <div class="col-12 mar-t3 second">
            <label class="sum-txt norm-fs-fam ">Summary </label>
        </div>
        <div class="col-12 pad-1 second">
            <label class="mono-fs-s font-weight-bold mar-r-p5">Fiducia Score Pvt Ltd</label><span
                class="mono-fs-s fs-12  font-weight-bold">(Jan 2021 - Till Now)</span>
            <p class="norm-fs-fam let-sp-1 mar-t1">Innovative and deadline-driven AngularJS with 2+ years of experience
                designing and developing user-Friendly Web Apps.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 ">
            <label class="sum-txt norm-fs-fam mar-l-2">Projects </label>
        </div>
    </div>


    <div class="row">
        <div class="col-5 slide_content">
          
                <span>discover</span>
                <h1>Client Projects</h1>
                <hr>
                <p style="line-height: 1.6;">Beauty and mystery are hidden under the sea. Explore with our application to know about Aquatic Animals.</p>
                
         
        </div>
        <div class="col-7">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1" 
                            width="50%">
                        <div style="width: 50%;">
                            <h2 class="swiper_header">Seahorse</h2>
                            <p class="swiper_para">
                                Seahorses are mainly found in shallow tropical and temperate salt water throughout the
                                world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and
                                mangroves. Four species are found in Pacific waters from North America to South America.
                            </p>
                            <a class="swiper_a" href="https://en.wikipedia.org/wiki/Seahorse"
                                target="_blank">explore</a>
                        </div>
                    </div>
                    <div class="swiper-slide"><img src="https://loremflickr.com/600/400/brazil,rio" alt="img 2"
                            width="50%">
                        <div style="width: 50%;">
                            <h2 class="swiper_header">Seahorse</h2>
                            <p class="swiper_para">
                                Seahorses are mainly found in shallow tropical and temperate salt water throughout the
                                world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and
                                mangroves. Four species are found in Pacific waters from North America to South America.
                            </p>
                            <a class="swiper_a" href="https://en.wikipedia.org/wiki/Seahorse"
                                target="_blank">explore</a>
                        </div>

                    </div>
                    <div class="swiper-slide"><img src="https://loremflickr.com/600/400/paris,girl/all" alt="img 3"
                            width="50%">
                        <div style="width: 50%;">
                            <h2 class="swiper_header">Seahorse</h2>
                            <p class="swiper_para">
                                Seahorses are mainly found in shallow tropical and temperate salt water throughout the
                                world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and
                                mangroves. Four species are found in Pacific waters from North America to South America.
                            </p>
                            <a class="swiper_a" href="https://en.wikipedia.org/wiki/Seahorse"
                                target="_blank">explore</a>
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            </swiper>

        </div>



    </div>


    <div class="row">
        <div class="col-5 slide_content">
          
                <span>discover</span>
                <h1>Self Learn Projects</h1>
                <hr>
                <p style="line-height: 1.6;">Beauty and mystery are hidden under the sea. Explore with our application to know about Aquatic Animals.</p>
                
         
        </div>
        <div class="col-7">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1" 
                            width="50%">
                        <div style="width: 50%;">
                            <h2 class="swiper_header">Seahorse</h2>
                            <p class="swiper_para">
                                Seahorses are mainly found in shallow tropical and temperate salt water throughout the
                                world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and
                                mangroves. Four species are found in Pacific waters from North America to South America.
                            </p>
                            <a class="swiper_a" href="https://en.wikipedia.org/wiki/Seahorse"
                                target="_blank">explore</a>
                        </div>
                    </div>
                    <div class="swiper-slide"><img src="https://loremflickr.com/600/400/brazil,rio" alt="img 2"
                            width="50%">
                        <div style="width: 50%;">
                            <h2 class="swiper_header">Seahorse</h2>
                            <p class="swiper_para">
                                Seahorses are mainly found in shallow tropical and temperate salt water throughout the
                                world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and
                                mangroves. Four species are found in Pacific waters from North America to South America.
                            </p>
                            <a class="swiper_a" href="https://en.wikipedia.org/wiki/Seahorse"
                                target="_blank">explore</a>
                        </div>

                    </div>
                    <div class="swiper-slide"><img src="https://loremflickr.com/600/400/paris,girl/all" alt="img 3"
                            width="50%">
                        <div style="width: 50%;">
                            <h2 class="swiper_header">Seahorse</h2>
                            <p class="swiper_para">
                                Seahorses are mainly found in shallow tropical and temperate salt water throughout the
                                world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and
                                mangroves. Four species are found in Pacific waters from North America to South America.
                            </p>
                            <a class="swiper_a" href="https://en.wikipedia.org/wiki/Seahorse"
                                target="_blank">explore</a>
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            </swiper>

        </div>



    </div>




</div>