<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding:unset !important;height: 10vh !important;" >
  <div class="d-flex flex-row" style="color: rgb(244, 244, 244); width: 100%; ">
   
      <div class="col-2 ">
        <label>logo</label>
      </div>
      <div class="col-4 ">
      
      </div>
      <div class="col-6  ">
        <ul class="d-flex flex-row" style="margin-bottom:unset !important;">
          <li class="col-3 nav-link">Home</li>
          <li class="col-3 nav-link">About Me</li>
          <li class="col-3 nav-link">Learning & Projects</li>
          <li class="col-3 nav-link">Contact Us</li>
        </ul>
      </div>
   
  </div>
</nav>