ul {
    list-style-type: none !important;
    text-align: center;
  }
  .header{
    background-color: #fffefe;
    color: #232222 !important;
    position: fixed;
    box-shadow: 1px 1px 1px 1px #f0f2f4;
  }
  .nav-link{
    position: absolute;
     top: 14px;
  }
  .nav-link:hover{
    /* border-bottom: 2px solid;
    /* // width: 29px; 
     position: absolute;
     top: 14px; */
     color: #5df3f2;
  }
  .active{
    color: #5df3f2;
    /* border-bottom: 2px solid; */
    /* // width: 29px; */
     /* position: absolute;
     top: 14px; */
  }
.logo{
  width: 30px;
  border-radius: 20px;
}
  