.dashboard {
    background-repeat: no-repeat;
    background-size: cover;
    background: #010101;
    color: #fff;
    background-attachment: fixed;
    background-blend-mode: difference;
    padding: 3rem 0rem 0rem 0rem;
    overflow: hidden !important;
    /* animation: landing  1s; */
}


.name-fs {
    font-size: 80px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-weight: bold;
    letter-spacing: 3px;


}

.cv-fs {
    padding: 5px 35px 5px 35px;
    border: 3px solid #28c9c1;
    border-radius: 20px;
    margin-right: .5rem;
    cursor: pointer;
    background-color: #28c9c1;
    color: #fff;
}


.cv-fs:hover {
    background-color: #18bbba;
    color: #fffcfc;
}

.km-fs {
    padding: 5px 35px 5px 35px;
    border: 3px solid #28c9c1;
    border-radius: 20px;
    cursor: pointer;
   
    color: #28c9c1;
    cursor: pointer;
}

.social-border {
    border: 1px solid transparent;
    padding: 2px 10px 1px 10px;
    color: #5df3f2;
    background-color: transparent;
    border-radius: 50%;
    margin: 0px 7px 0px 7px;
    cursor: pointer;
}

.social-border:hover {
    background-color: #18bbba;
    color: #fffcfc;
}

.mat-t-3 {
    margin-top: 3rem;
}

.mar-b-2 {
    margin-bottom: 1rem;
}

.km-fs:hover {
    background-color: #18bbba;
    color: #fffcfc;
}


.img {
    width: 70%;
    border-radius: 50%;
    /* border-bottom-left-radius: 30%;
    border-bottom-right-radius: 54%; */
    /* box-shadow: 0px 0px 0px 16px #3a3937; */
    /* height: 85vh; */

}

.image-bg {
    width: 65%;
    /* height: 70vh; */
    filter: brightness(1.1) saturate(2);
    border: 1px solid transparent;
    /* background: #d5f1e4; */
    background: linear-gradient(to right top, #2E4295, #F9BA94);
    border-radius: 15%;

}

.pad-lf-3 {
    padding-left: 3rem;
}

.img-border-bg {
    border: 6px solid #e5f5f5;
    width: 22%;
    text-align: center;
    height: 73vh;
    position: absolute;
    border-radius: 20px;
    right: 13%;
    top: 18%;
    box-shadow: #e4f5ed 0px 50px 100px -20px, #c5d1cb 0px 30px 60px -30px, #f7f9f8 0px -2px 6px 0px inset;
    background: #fff;
    animation-name: backborder;
    animation-delay: 1.2s;
    animation-duration: 4s;
    transform: rotate(126deg);
    /* animation: backborder 1.5s; */
}

.txt-center {
    text-align: center !important;
}

.dot-img {
    background-image: url(../../assets/img/dot-img.png);
    width: 10%;
    height: 28vh;
    opacity: 0.5;
    position: absolute;
    top: 65%;
    right: 38%;
}



.name-txt {
    color: transparent;
    font-size: clamp(3.2rem, 10vw, 7rem);
    line-height: clamp(3.2rem, 10vw, 7rem);
    text-transform: capitalize;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px var(--pill);
}

.dashboard .animation1 {
    animation: animation1 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dashboard .animation2 {
    animation: animation2 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes backborder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(126deg);
    }
}

@keyframes animation1 {
    0% {
        opacity: 0;
        transform: translateY(-50%);
        transform: scale(2);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
        transform: scale(1);
    }
}

@keyframes animation2 {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes landing {
    0% {
        opacity: 0;
        transform: scaleX(0)
    }

    100% {
        opacity: 1;
        transform: scaleX(1)
    }
}



@media only screen and (max-width: 600px) {



    .img-border-bg {
        border: 6px solid #e5f5f5;
        width: 22%;
        text-align: center;
        height: 73vh;
        position: absolute;
        border-radius: 20px;
        right: 0% !important;
        top: 18%;
        box-shadow: #e4f5ed 0px 50px 100px -20px, #c5d1cb 0px 30px 60px -30px, #f7f9f8 0px -2px 6px 0px inset;
        background: #fff;
        animation-name: backborder;
        animation-delay: 1.2s;
        animation-duration: 4s;
        transform: rotate(126deg);
        /* animation: backborder 1.5s; */
    }

    .image-bg {
        width: 280px;
        height: 35vh;
        filter: brightness(1.1) saturate(2);
        border: 1px solid transparent;
        /* background: #d5f1e4; */
        background: linear-gradient(to right top, #2E4295, #F9BA94);
        border-radius: 50%;

    }

    .mob-pad-l-1 {
        padding-left: 1rem !important;
    }

    .mob-mt-1d5 {
        margin-top: 1.5rem !important;
    }

}
.txt_bg{
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    background-color: #005baa;
    background-image: linear-gradient(45deg, #5df3f2, #f4faff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second {
    width: 100%;
    -webkit-animation: spark 1s 1.1s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
    animation: spark 1s 1s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
    -webkit-clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
    clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
}

.hide {
    display: none;
}

.show {
    display: block;
}


@keyframes spark {
    from {
        clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

/* new-css */

.hero-background {
    width: 37vw !important;
    max-height: 37vw;
    border-radius: 20% !important;
    display: flex;
    position: relative;
    background: linear-gradient(to right top, #2E4295, #F9BA94);
}

.hero-image {
    width: 100%;
    overflow: hidden;
}

.hero-pic {
    /* aspect-ratio: 1/1; */
    border-radius: 20%;
    overflow: hidden;
    filter: brightness(1.1) saturate(2);
}

.extra-icons {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25%;
}

.floating {

    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.iot-svg {
    position: absolute;
    width: 10vw;
    top: -2.1rem;
    left: -2rem;
}

.java-svg {
    position: absolute;
    width: 7vw;
    top: 3rem;
    right: 0;
}

.hackerhat-svg {
    position: absolute;
    width: 7vw;
    left: -3rem;
    bottom: 4rem;
}

.coding-svg {
    position: absolute;
    width: 11vw;
    right: -5rem;
    bottom: 3rem;
}

@keyframes floating {
    /* 0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    } */

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 600px) {
    .hero-background {

        width: 252px !important;
        max-height: 35vw;
        border-radius: 50%;
        display: flex;
        position: relative;
        background: linear-gradient(to right top, #F47923, #9D3CFF);

    }


    .hero-image {
        border-radius: 50%;
        width: 100%;
        overflow: hidden;
    }

    .hero-pic {
        /* aspect-ratio: 1/1; */
        border-radius: 20%;
        overflow: hidden;
        filter: brightness(1.1) saturate(2);
    }

    .extra-icons {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 25%;
    }

    .floating {

        animation-name: floating;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .iot-svg {
        position: absolute;
        width: 14vw;
        top: 1rem;
        left: 2.5rem;
        z-index: 1;
    }

    .java-svg {
        position: absolute;
        width: 8vw;
        top: 3rem;
        right: 60px;
        z-index: 1;
    }

    .hackerhat-svg {
        position: absolute;
        width: 16vw;
        left: 3rem;
        top: 15rem;
        z-index: 1;
    }

    .coding-svg {
        position: absolute;
        width: 14vw;
        right: 4rem;
        top: 16rem;
        z-index: 1;
    }

    .icon-1 {
        position: absolute;
        left: 4rem !important;
    }

    .icon-2 {
        position: absolute;
        left: 15rem !important;
        top: 44rem !important;
    }

    .icon-3 {
        position: absolute;

        left: 72%;
        top: 11%;
    }
}

.decoration-icon {
    position: absolute;
    filter: blur(4px);
    width: 80px;
}

.icon-1 {
    position: absolute;
    left: 28rem;
}

.icon-2 {
    position: absolute;
    left: 20rem;
    top: 28rem;
}