<div class="container-fluid dashboard pa-3">
    <div class="d-flex flex-row pt-3">
        <div class="col-sm-6 col-12">
            <div>
                <h4 class="let-sp-4 fs-15 pt-2">I'm Developer</h4>
                <label class="pt-2 let-sp-8 " style="font-size: 4.5rem !important;">E Dilli Babu</label>
                <p class="let-sp-1 pt-1">There are four different syntaxes you can use with this property: the keyword syntax ("auto", "cover" and "contain"), the one-value syntax (sets the width of the image (height becomes "auto"), 
                    the two-value syntax (first value: width of the image, second value: height), and the multiple background syntax (separated with comma).</p>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div>
                <img src="../../assets/img/team-3.jpg" class="img" />
            </div>
        </div>
    </div>
</div>