<div class="dashboard">
    <div class="d-flex row" style="padding-top: 5rem !important;">

        <div class="col-xxl-6 col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 animation1  d-block d-sm-none">
            <div class="extra-icons">
                <div class="extra-icons-wrapper h-100">
                    <img class="iot-svg floating" src="../../assets/img/iot.svg" alt="iot-svg">
                    <img class="java-svg floating" src="../../assets/img/java.svg" alt="java-svg">
                    <img class="hackerhat-svg floating" src="../../assets/img/hackerhat.svg" alt="hackerhat-svg">
                    <img class="coding-svg floating" src="../../assets/img/coding.svg" alt="codeing-svg">
                </div>
            </div>
            <div class="txt-center ">
                <img src="../../assets/img/removebg-preview.png" class="image-bg" />
            </div>
            <!-- <div class="dot-img">

            </div> -->
        </div>

        <div class="col-xxl-6 col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 mob-mt-1d5 animation1">
            <div>
                <img class="decoration-icon icon-1" src="../../assets/img/curly-braces.png" alt="curly-braces">
                <img class="decoration-icon icon-2" src="../../assets/img/html-tag.png" alt="html-tag">
                <img class="decoration-icon icon-3" src="../../assets/img/html-tag.png" alt="html-tag">
            </div>
            <div class="pad-lf-3 mob-pad-l-1 ">
                <label class="norm-fs-fam">Hy I'm ...</label>
                <h2 class="name-fs txt_bg norm-fs-fam second">Dilli Babu</h2>
                <pre>I'm Developer</pre>
                <p class="let-sp-1 padt-1 norm-fs-fam">Enthusiastic full stack developer with 2 years of front-end
                    experience & 1
                    years of Back-end experience in responsive web design for e-commerce platforms.

                    Proven ability to build interactive and user-friendly web designs to scale.</p>

                <!-- <button type="button" class="btn btn-outline-success">Success</button> -->
            </div>
            <div class="d-flex pad-left-3 mar-b-2 mat-t-3">
                <div class="cv-fs">
                    <label class="cursor">Download Cv</label>
                </div>
                <div [routerLink]="['/about']" class="km-fs">
                    <label [routerLink]="['/about']" class="cursor">Know More</label>
                </div>
            </div>
            <div class="d-flex pad-left-3 mar-b-2 mat-t-3">
                <div>
                    <label class="mono-fs-s">Follow Me</label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-facebook-f icon-xs"></i></label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-twitter  icon-xs"></i></label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-instagram  icon-xs"></i></label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-linkedin-in  icon-xs"></i></label>
                </div>
            </div>

        </div>

        <div class="col-xxl-6 col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 animation1 d-none d-sm-block">

            <div class="hero-background">
                <div class="hero-image">
                    <img src="../../assets/img/removebg-preview.png" alt="Hero Image" class="hero-pic">
                </div>
                <div class="extra-icons">
                    <div class="extra-icons-wrapper h-100">
                        <img class="iot-svg floating" src="../../assets/img/iot.svg" alt="iot-svg">
                        <img class="java-svg floating" src="../../assets/img/java.svg" alt="java-svg">
                        <img class="hackerhat-svg floating" src="../../assets/img/hackerhat.svg" alt="hackerhat-svg">
                        <img class="coding-svg floating" src="../../assets/img/coding.svg" alt="codeing-svg">
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>