<div class="dashboard">
    <div class="d-flex row padt-3 ">


        <div class="col-xxl-6 col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 animation1">
            <div class="pad-lf-3 ">
                <label class="norm-fs-fam">Hy I'm ...</label>
                <h2 class="name-fs primary-color norm-fs-fam">Dilli Babu</h2>
                <pre>I'm Developer</pre>
                <p class="let-sp-1 padt-1 norm-fs-fam">Enthusiastic full stack developer with 2 years of front-end experience & 1
                    years of Back-end experience in responsive web design for e-commerce platforms.

                    Proven ability to build interactive and user-friendly web designs to scale.</p>

                <!-- <button type="button" class="btn btn-outline-success">Success</button> -->
            </div>
            <div class="d-flex pad-lf-3 mar-b-2 mat-t-3">
                <div class="cv-fs">
                    <label class="cursor">Download Cv</label>
                </div>
                <div class="km-fs">
                    <label class="cursor">Know More</label>
                </div>
            </div>
            <div class="d-flex pad-lf-3 mar-b-2 mat-t-3">
                <div >
                    <label class="mono-fs-s">Follow Me</label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-facebook-f icon-xs"></i></label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-twitter  icon-xs"></i></label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor"><i class="fab fa-instagram  icon-xs"></i></label>
                </div>
                <div class="social-border">
                    <label class="mono-fs-s cursor" ><i class="fab fa-linkedin-in  icon-xs"></i></label>
                </div>
            </div>

        </div>

        <div class="col-xxl-6 col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 animation1 ">

            <div class="img-border-bg">

            </div>
            <div class="pad-2 txt-center ">
                <img src="../../assets/img/removebg-preview.png" class="image-bg" />
            </div>
            <div class="dot-img">

            </div>
        </div>



    </div>
</div>